/* Estilo básico para todo el cuerpo de la página */

/* esto se carga ya que esta siendo agregado desde el archivo
* functions.php por medio de un hook 
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

  /* Estilo para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a img {
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
}  

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

  /* Estilo para enlaces de navegación */
nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
    background-color: #f2f2f2;
    color: #333;
} 
